body{
  margin: 5em;
}

ul{
  list-style-type: none;  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid;
}

footer > p{
  margin: 0;
}

.nom{
  display: block;
  color: grey;
  font-style: italic;
}

a{
  font-weight: bold;
  text-decoration: none;
}

img{
  width: 1em;
}

nav ul{
  border-bottom: thin solid;
}

h1{
  border-bottom: thick solid;
}
